name: excel_compressor_web
description: "A Flutter Web project to filter Excel rows."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  archive: ^3.6.1
  file_picker: ^8.1.7
  xml: ^6.5.0
  # 不要添加 web 或其他乱七八糟的包

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true